@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
	*{
		margin: 0;
		padding: 0;
	}

body{
	background-color: #202020;
	font-family: 'Roboto Condensed';
	}
}

#barra {
	background-color: #202020;
	color: white;
	text-align: center;
	height: auto;
	position: fixed;
	z-index: 1;

}

#backgroud {
	background-color: #202020;
	color: white;
	text-align: center;
	height: auto;
}


#background2 {
	background-color: #202020;
	color: white;
	text-align: right;
	height: auto;
}

#front3 {
	background-color: #ffba5a;
	color: white;
	text-align: center;
	height: auto;
}

#front4 {
	background-color: #262525;
	color: white;
	text-align: center;
	height: auto;
}

#front5 {
	background-color: #ffba5a;
	color: white;
	text-align: center;
	height: auto;
}

#outros {
	background-color: #262525;
	color: white;
	text-align: center;
	height: 250px;
}

#contato {
	background-color: #262525;
	color: white;
	text-align: right;
	height: 70px;
}

#email {
	background-color: #262525;
	color: white;
	text-align: center-left;
	height: 70px;
}

.spacing {
	margin-top: 10px;
}
.spacing2 {
	margin-top: 6px;
}
.spacing3 {
	margin-top: 80px;
}

.container-box { 
  width: 1300px;
  margin: 0 auto;

}

.col-12 {width: 100%;}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #202020;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #0c664d;
}

li {
  border-right: 2px solid #0c664d;
}